@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #0F172A;
    color: #FFFFFF;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.inpecionar {
    border: 5px solid red;
}

.nav {
    padding: 2rem 6rem;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
}